#header {
  position: fixed;
  top: 0px;
  height: 100px;
  width: 100%;
  background: green;
}
#body{ margin-top: 100px; }


body{
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

th{
  text-align:left;
  vertical-align:top;  
  color:white;
  font-weight:normal;
  font-size:30px;
}

td{
  text-align:left;
  vertical-align:top;  
  color:white;
  font-weight:normal;
  font-size:18px;
}

imag.img-thumbnail{
  width: 80;
  height: 80;
}

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: magenta;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.bd-lead{
  max-width: 100%;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 82%;
}

.paragraph {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.title {
  color: Aqua;
  background-color: transparent;
  text-decoration: none;
}
