{% extends "layout.html" %} {% block content %}
<hr />
<h2 class="title text-center">About the author</h2>
<hr />

<div class="container-fluid bg-dark text-white">
<div class="row">
  <div class="col border border-secondary">
    <br />
    <img src="/static/lgr-pic10.png" width="150px" height="150px" class="center" />
    <div class="title2 text-center">Lucio Gutiérrez</div>
    <p class="bd-lead">
        I'm currently working as Business Intelligence Manager at Ferrocarril Mexicano SA, in Mexico City. One of my best achievements is the development of the "balanced scorecard" of the company using the "Qlik Sense" tool.
        <br/>
        I have also held project leader positions at Consorcio ARA and the United Nations Development Program (UNDP).
        <br /><br />
        I am a graduate of the "Instituto Politécnico Nacional" and I have an MBA from the "Latina" University.
        <br /><br />
        To keep in touch please write to: luckgutierrez@hotmal.com.
        <br />
        You can get more information on my linkedin profile:
        <a href="https://www.linkedin.com/in/lucio-gutierrez/" target="_blank">linkedin/luciogutierrez</a>
        <br />
        or reviewing part of my work in the github site:
        <a href="https://github.com/luciogutierrez" target="_blank">github.com/luciogutierrez</a>
        <br />
        also in my youtube channel:
        <a href="https://www.youtube.com/channel/UCd4LW4HQT2bK4SqWgb-rl3w" target="_blank">youtube/luciogutierrez</a>
        <br /><br />
        Thanks for watching...
      </p>
    </div>
  </div>
</div>

{% endblock %}