{% extends "layout.html" %} {% block content %}
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<h3 style="color: red" class="text-center">About the author</h3>
<hr />

<div class="entry-content">
  <!-- Table about -->
  <table class="table table-striped table-bordered table-dark">
    <tbody class="thead-dark">
      <tr>
        <td>
          <img src="/static/lgr-pic10.png" alt="Author's Pic " width="300" height="300" />
        </td>
        <td>
          <h4 class="title">Lucio Gutiérrez Román</h4>
          Currently I work as Business Intelligence Manager at
          Ferrocarril Mexicano SA, in Mexico City. Mexico. One of my better
          achievements is to developed the company's "balanced scorecard"
          using the BI tool "Qlik Sense". In the site users can analice the
          company's performance, since several angles, like Sales, Security,
          Services and Productivity. The portal is available on intranet and
          internet.
          <br /><br />
          I have also held project leader positions at Consorcio ARA and the
          United Nation Development Program (UNDP).
          <br /><br />
          I'm graduate of the "Instituto Politecnico Nacional" and hold an
          MBA for "Latina" University.
          <br /><br />
          For contact, please write to: luckgutierrez@hotmal.com.
          <br /><br />
          you can get more information about me on my linkedin profile:
          <a href="https://www.linkedin.com/in/lucio-gutierrez/"
            target="_blank">https://www.linkedin.com/in/lucio-gutierrez/</a>
          <br /><br />
          you can review part of my work in the gihdub site:
          <a href="https://github.com/luciogutierrez" target="_blank">https://github.com/luciogutierrez</a>
          <br /><br />
          also in my youtube site:
          <a href="https://www.youtube.com/channel/UCd4LW4HQT2bK4SqWgb-rl3w"
            target="_blank">https://www.youtube.com/luciogutierrez</a>
          <br /><br />
          Thanks for watching...
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}