{% extends "layout.html" %} {% block content %}
<hr />
<h2 class="title text-center">About the author</h2>
<hr />

<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <img src="/static/lgr-pic10.png" class="center" />
    </div>
    <div class="col-4"></div>
  </div>
  <div class="row">
    <div class="col border">
      <h4 class="title">Lucio Gutiérrez Román</h4>
      <p>
        Currently I work as Business Intelligence Manager at
        Ferrocarril Mexicano SA, in Mexico City. Mexico. One of my better
        achievements is to developed the company's "balanced scorecard"
        using the BI tool "Qlik Sense". In the site users can analice the
        company's performance, since several angles, like Sales, Security,
        Services and Productivity. The portal is available on intranet and
        internet.
        <br /><br />
        I have also held project leader positions at Consorcio ARA and the
        United Nation Development Program (UNDP).
        <br /><br />
        I'm graduate of the "Instituto Politecnico Nacional" and hold an
        MBA for "Latina" University.
        <br /><br />
        For contact, please write to: luckgutierrez@hotmal.com.
        <br /><br />
        you can get more information about me on my linkedin profile:
        <a href="https://www.linkedin.com/in/lucio-gutierrez/"
          target="_blank">linkedin/luciogutierrez</a>
        <br /><br />
        you can review part of my work in the gihdub site:
        <a href="https://github.com/luciogutierrez" target="_blank">github.com/luciogutierrez</a>
        <br /><br />
        also in my youtube site:
        <a href="https://www.youtube.com/channel/UCd4LW4HQT2bK4SqWgb-rl3w"
          target="_blank">youtube/luciogutierrez</a>
        <br /><br />
        Thanks for watching...
      </p>
    </div>
  </div>
</div>

{% endblock %}