{% extends "layout.html" %} {% block content %}
<hr />
<h2 class="title text-center">Api Request</h2>
<hr />

<div class="container-fluid  bg-dark">

  <div class="row">
    <div class="border">
      The Marvel Comics API allows developers around the world to access
      information about Marvel's vast library of comics, from what's coming
      soon to what happened since 70 years ago. the link to access the api is
      shown below:
      <br />
      <a href="https://developer.marvel.com/" target="_blank">https://developer.marvel.com/</a>
      <br />
      Consumption of the Marvel online Api, and from the data obtained we
      extract the name, description, image and url to obtain more information
      about each character.
    </div>
  </div>

  <div class="row">
    <div class="border">
      <h3 class="title">Data extracted online from the Api</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-1 border">#</div>
    <div class="col-2 border">Name</div>
    <div class="col-7 border">Description</div>
    <div class="col-2 border">Image</div>
  </div>
  {% for i in range(longitud) %}
  <div class="row">
    <div class="col-1 border">{{ loop.index }}</div>
    <div class="col-2 border">{{ heros['data'][i]['hero_name'] }}</div>
    <div class="col-7 border">{{ heros['data'][i]['hero_desc'] }}
      <a href="{{ heros['data'][i]['hero_url'] }}" target="_blank">
        {{ heros['data'][i]['hero_url'] }}</a>
    </div>
    <div class="col-2 border">
      <img src="{{ heros['data'][i]['hero_img'] }}" width="150" height="150" "/>
        </div>
      </div>
      {% endfor %}
    </div>

</div>

{% endblock %}