{% extends "layout.html" %} {% block content %}
<hr />
<h2 class="title text-center">Data Preparation</h2>
<hr />

<div class="container-fluid bg-dark">

  <div class="row">
    <div class="col border">
      <h4 class="title">Marvel's characters catalog</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-1 border">#</div>
    <div class="col-3 border">Name</div>
    <div class="col-5 border">Description</div>
    <div class="col-3 border">Image</div>
  </div>
  {% for i in range(longitud) %}
  <div class="row">
    <div class="col-1 border">{{ loop.index }}</div>
    <div class="col-3 border">
      <a href="{{ heros['data'][i]['hero_url'] }}" target="_blank">
        {{ heros['data'][i]['hero_name'] }}</a>
    </div>
    <div class="col-5 border">{{ heros['data'][i]['hero_desc'] }}
    </div>
    <div class="col-3 border">
      <img src="{{ heros['data'][i]['hero_img'] }}" width="100%" />
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}