{% extends "layout.html" %} {% block content %}
<hr />
<h2 class="title text-center">Conclusions</h2>
<hr />

<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col border">
      <br />
      <h5 class="title">Conclusion</h5>
      <p class="bd-lead">
        It is possible to generate pipelines that allows to implement machine learning models in a generic way. I mean,
        the same pipeline can be used for different datasets for specific machine learning model by making small adjustments to
        the generic functions.
      </p>
      <h5 class="title">Next steps:</h5>
      <ol class="bd-lead">
        <li> Implement this type of functions to more machine learning models such as linear regression, decision
          trees, Clustering, etc. </li>
      </ol>
      <p class="bd-lead">that's how much, thanks so much for your attention.</p>
    </div>
  </div>
</div>

{% endblock %}