{% extends "layout.html" %} {% block content %}
<hr />
<h2 class="title text-center">Conclusions</h2>
<hr />

<div class="container-fluid bg-dark text-white">
  <div class="row">
    <div class="col border border-secondary">
      <br />
      <div class="title2">Conclusions</div>
      <br />
      <ul class="bd-lead">
        <li>Machine learning models can be implemented in almost any subject area.</li>
        <li>There are many methods for collecting data.</li>
        <li>We must dedicate enough time to understand the data.</li>
        <li>We can use roadmap to develop machine learning models.</li>
      </ul>
      <p class="bd-lead">That's how much, thanks for watching.</p>
    </div>
  </div>
</div>

{% endblock %}