{% extends "layout.html" %} {% block content %}
<h1 style="color: red" class="text-center">Data Visualization</h1>

<div class="container-fluid">
  <table class="table table-striped table-bordered table-dark">
    <tbody class="thead-dark">

      <!-- Marvel Dataset-->
      <tr>
        <th style="width:30%">
          <h3 class="title">Marvel Dataset</h3>
        </th>
        <th>
          The project is based on the kaggle dataset "Marvel Superheros" which
          you can access in the following link:
          <br />
          <a
            href="https://www.kaggle.com/dannielr/marvel-superheroes"
            target="_blank"
            >https://www.kaggle.com/dannielr/marvel_superheros</a
          >
          <br />
          In fact the source contains several datasets so the first task we had
          to do was to analyze the content of each one and define the data we
          would use for our project. At the end we have a dataset that consists
          of 344 records and 15 columns.
        </th>
      </tr>
      
      <!-- BarChart Gender distribution -->
      <tr>
        <th>
          <h3 class="title">Gender distribution</h3>
          About gender distribution we have that 225 are male, 96 are female and
          23 are unclassified.
        </th>
        <th>
          <canvas id="barChartGender" height="50" width="100"></canvas>
        </th>
      </tr>

      <!-- BarChart Alignment distribution -->
      <tr>
        <th>
          <h3 class="title">Alignment distribution</h3>
          241 of them are alignment as good, while 98 are alignment as bad and 5
          are neutral.
        </th>
        <th>
          <canvas id="barChartAlignment" height="50" width="100"></canvas>
        </th>
      </tr>
      
      <!-- wordCloud Race distribution -->
      <tr>
        <th>
          <h3 class="title">Race distribution</h3>
            Talking about race, we have various kind of characters like humans,
            mutants, symbiotes and others, although most of them are undefined as you
            can see in the following graph.
        </th>
        <th>
          <div id="wordCloudRace" style="height: 300px"></div>
        </th>
      </tr>
      
      <!-- barChartPower average power -->
      <tr>
        <th>
          <h3 class="title">Level of power by gender</h3>
          The level of power is higher on the side of the good guys, and male
          characters have more power than female.
        </th>
        <th>
          <div id="barChartPower" style="height: 300px"></div>
        </th>
      </tr>

    </tbody>
  </table>
</div>


{% block javascript %}
<script>
    // BarChart Gender Distribution
    var ctx = document.getElementById('barChartGender').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ labels[0] | safe }},
    datasets: [{
        label: 'Gender distribution',
        data: {{ values[0] | safe }},
        fill: true,
        lineTension: 0.1,
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)'
    ],
        borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)'
    ],
        borderWidth: 1
    }]
        }
  });

    // BarChart Aligment Distribution
    var ctx = document.getElementById('barChartAlignment').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'polarArea',
        data: {
            labels: {{ labels[1] | safe }},
    datasets: [{
        label: 'Alignment distribution',
        data: {{ values[1] | safe }},
        fill: true,
        lineTension: 0.1,
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)'
    ],
        borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)'
    ],
        borderWidth: 1
    }]
        }
  });
</script>

<script>
  anychart.onDocumentReady(function () {
      var data = {{ dictionary | safe }};
      var chart = anychart.tagCloud(data);
      chart.title('More races presented')
      chart.angles([0])
      chart.colorRange(false);
      chart.colorRange().length('80%');
      chart.container("wordCloudRace");
      chart.draw();
  });
</script>

<script>
  // Radar Chart
  anychart.onDocumentReady(function () {
      // create data set on our data
      var data = {
        title: 'Level of power by gender',
        header: {{ headers | safe }},
        rows: {{ rows | safe }}
      };
      var chart = anychart.column();
      chart.data(data);
      chart.animation(true);
      chart.yAxis().title('level of Power');
      chart
        .labels()
        .enabled(true)
        .position('center-top')
        .anchor('center-bottom');
      chart.hovered().labels(false);
      chart.legend().enabled(true).fontSize(13).padding([0, 0, 20, 0]);
      chart.interactivity().hoverMode('single');
      chart
        .tooltip()
        .positionMode('point')
        .position('center-top')
        .anchor('center-bottom')
        .offsetX(0)
        .offsetY(5);
      chart.container('barChartPower');
      chart.draw();
    });
</script>

{% endblock %} {% endblock %}
