{% extends "layout.html" %} {% block content %}

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative">
                <h1>Superhero Gender Distribution</h1>
                <canvas id="myChart" height="50" width="100"></canvas>
            </div>
        </div>
    </div>
</div>

{% block javascript %}
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ labels | safe}},
    datasets: [{
        label: 'Superhero Gender distribution',
        data: {{ values | safe}},
        fill: true,
        lineTension: 0.1,
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)'
    ],
        borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)'
    ],
        borderWidth: 1        
    }]
        },
    options: {
        responsive: true,
            legend: {
            display: false
        },
        title: {
            display: true,
                text: 'Marvel Superheros Demographic'
        }
    }
  });
</script>
{% endblock%} {% endblock %}