{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div>
        <h1 style="color: white;"> Marvel Superheros </h1>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Imagen</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(longitud) %}
                       <tr>
                           <td>{{ loop.index }}</td>
                           <td>{{ heros['data'][i]['hero_name'] }}</td>
                           <td>{{ heros['data'][i]['hero_desc'] }}
                              <a href="{{ heros['data'][i]['hero_url'] }}" target="_blank">{{ heros['data'][i]['hero_url'] }}</a>
                           </td>
                           <td><img src="{{ heros['data'][i]['hero_img'] }}" alt="" class="img-thumbnail"></td>
                       </tr> 
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
