{% extends "layout.html" %} {% block content %}
<hr />
<h2 class="title text-center">Marvel Comics end-to-end ML model</h2>
<hr />

<div class="container-fluid bg-dark text-light">
    <div class="row">
        <div class="col border border-secondary">
            <br />
            <h1 class="dispaly-6 text-info">Objective</h1>
            <h1 class="display-6">
                The objective of the project is to implement an end-to-end ML model, since data acquisition to model
                validation, based on Marvel Comics characters.
                <br /><br />
                For this purpose, we will develop the topics:
                <ol>
                    <li>Data preparation.</li>
                    <li>Data visualization.</li>
                    <li>ML model development step-by-step.</li>
                </ol>
                <br />
                In this project we used the tools; Python, Flask, API requests, Data analysis, Data visualization,
                Machine
                Learning, among others.
            </h1>
            <br /><br />
            <br /><br />
            <br /><br />
        </div>
    </div>

    <div class="row">
        <div class="col border border-secondary">
            <br />
            <h1 class="dispaly-6 text-info">1. Data preparation</h1>
            <br />
            <h1 class="display-6">
                In this section, we collect and prepare the data that we'll use in the model.
                <br /><br />
                <ol>
                    <li>Data acquisition</li>
                    <ul>
                        <li>
                            Marvel API
                            <a href="https://developer.marvel.com/" target="_blank">https://developer-marvel.com/</a>
                        </li>
                        <li>
                            Kaggle Marvel Superheroes datasets
                            <a href="https://www.kaggle.com/dannielr/marvel-superheroes"
                                target="_blank">Kaggle-marvel-superheroes</a>
                        </li>
                    </ul>
                    <li>Data analysis</li>
                    <li>Data wrangling</li>
                    <li>Data cleaning</li>
                    <li>Data storage</li>
                </ol>
                And we define two datasets, one for training and one for predictions.
            </h1>
            <br /><br />
            <br /><br />
            <br /><br />
        </div>
    </div>

    <div class="row">
        <div class="col border border-secondary">
            <br />
            <h1 class="dispaly-6 text-info">2. Data visualization</h1>
            <br />
            <h1 class="display-6">
                Data visualization is the process that allows us, through graphs and charts, to find patterns and
                understand the distribution of data.
                <br /><br />
                In this section, we have created different visualizations that allow us to understand the data we are
                working with.
                <br />
                <img src="/static/piechart.gif" width="35%" />
                <img src="/static/barchart.gif" width="40%" />
            </h1>
            <br /><br />
            <br /><br />
        </div>
    </div>

    <div class="row">
        <div class="col border border-secondary">
            <br />
            <h1 class="dispaly-6 text-info">3. Machine Learning Model development</h1>
            <br />
            <h1 class="display-6">
                In this section, we'll develop the ML model step-by-step:
                <ul>
                    <ol>
                        <li>Model selection</li>
                        <li>Feature engineering</li>
                        <li>Model training and evaluation</li>
                        <li>Generation of predictions and evaluation of results</li>
                    </ol>
                </ul>
                <img src="/static/model-processing.png" width="80%" />
            </h1>
            <br />
        </div>
    </div>
</div>

{% endblock %}