{% extends "layout.html" %} {% block content %}
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<!-- <img
  src="/static/avengers.gif"
  alt="drawing"
  width="100%"
  height="250"
  class="center"
/> -->
<h3 style="color:red" class="text-center">Home</h3>
<h3 class="title" style="display:inline;">Project name</h3>
<h2>Walking through a ML model's production line</h2>

<div class="entry-content">
    <!-- Main Table for introduction -->
    <table class="table table-striped table-bordered table-dark table-hover">
        <tbody class="thead-dark">
            <tr height="1000">
                <th>
                    <h3 class="title">Objective</h3>
                    Ironhack has provided us with a very important toolkit that we can use when working with ML models,
                    for some of us, and this happened to me personally, I went from the problem of not having tools to
                    having too many and not knowing which ones to use.
                    </br></br>
                    The objective of the project is to walk through the different processes involved in the generation
                    of a machine learning model.
                    </br></br>
                    <ol class="paragraph">
                        <li>Data Acquisition</li>
                        <ul>
                            <li>Api Request</li>
                            <li>Download dataset</li>
                        </ul>
                        <li>Data Cleaning</li>
                        <li>Feature Engineering</li>
                        <li>Model Selection</li>
                        <li>Hyperparameter Adjustments</li>
                        <li>Deployment</li>
                    </ol>
                </th>
            </tr>
            <tr height="800">
                <th>
                    <h3 class="title">Api Requests</h3>
                    In this section we will use python "requests" method to connect to the Marvel Api.
                    </br>
                    We will download information of our favorite super heroes which we will use to generate
                    an online catalog to access the web page of each one of them.
                </th>
            </tr>
            <tr height="800">
                <th>
                    <h3 class="title">Data Visualization</h3>
                    In this section we will create and interpret different types of visualizations to better
                    understand the Marvel dataset we are working with.
                </th>
            </tr>
            <tr height="800">
                <th>
                    <h3 class="title">Supervised ML model</h3>
                    In this section we will work on a supervised learning model to predict whether the alignment of
                    a superhero is good or evil.
                </th>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}