{% extends "layout.html" %} {% block content %}
<div>&nbsp;</div>
<img
  src="/static/avengers.gif"
  alt="drawing"
  width="100%"
  height="150"
  class="center"
/>
<h3 style="color:red" class="text-center">DATAMEXPT2021 final project</h3>
<h6 class="title" style="display:inline;">Project name</h6>
<h2> Marvel Characters Data Analysis</h2>
<hr style="clear:none;"/>
<div class="entry-content">
    <!-- Main Table for introduction -->
    <table class="table table-striped table-bordered table-dark table-hover">
        <tbody class="thead-dark">
            <tr>
                <th>
                    <h6 class="title">Objective</h6>
                </th>
                <th>
                    The project's goal is to show the knowledge acquired along Data Analysys bootcamp given by
                    Ironhack Mexico.
                    </br>
                    We chosed Marvel's Superheroes theme as it has the necessary elements to help work on the 4
                    topics we will
                    cover in this project:
                    <ol class="paragraph">
                        <li>Api Requests</li>
                        <li>Data Visualization</li>
                        <li>Supervised ML model</li>
                    </ol>
                </th>
            </tr>
            <tr>
                <th>
                    <h6 class="title">Api Requests</h6>
                </th>
                <th>
                    In this section we will use python "requests" method to connect to the Marvel Api.
                    </br>
                    We will download information of our favorite super heroes which we will use to generate
                    an online catalog to access the web page of each one of them.
                </th>
            </tr>
            <tr>
                <th>
                    <h6 class="title">Data Visualization</h6>
                </th>
                <th>
                    In this section we will create and interpret different types of visualizations to better
                    understand the Marvel dataset we are working with.
                </th>
            </tr>
            <tr>
                <th>
                    <h6 class="title">Supervised ML model</h6>
                </th>
                <th>
                    In this section we will work on a supervised learning model to predict whether the alignment of
                    a superhero is good or evil.
                </th>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}