{% extends "layout.html" %} {% block content %}
<h3 style="color: red" class="text-center">
    Supervised ML model
</h3>

<div class="entry-content">
    <!-- Table about -->
    <table class="table table-striped table-bordered table-dark">
        <tbody class="thead-dark">
            <tr height="200">
                <th style="width: 10%">
                    <h6 class="title">Model objective</h6>
                </th>
                <th>
                    The objective of the model is predict whether the alignment of a character is good or evil.
                </th>
            </tr>
            <tr height="200">
                <th style="width: 30%">
                    <h6 class="title">Full dataset variables</h6>
                </th>
                <th>
                    <img src="/static/img1.png"/>
                </th>
            </tr>
            <tr height="200">
                <th style="width: 30%">
                    <h6 class="title">title</h6>
                </th>
                <th>
                    description                
                </th>
            </tr>
            <tr height="200">
                <th style="width: 30%">
                    <h6 class="title">title</h6>
                </th>
                <th>
                    description                
                </th>
            </tr>
            <tr height="200">
                <th style="width: 30%">
                    <h6 class="title">title</h6>
                </th>
                <th>
                    description                
                </th>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}