{% extends "layout.html" %} {% block content %}
<hr />
<h2 class="title text-center">Machine Learning Model</h2>
<hr />

<div class="container-fluid bg-dark text-white">

    <div class="row">
        <div class="col border  border-secondary">
            <br />
            <div class="title2">1. Model Selection</div>
            <p class="bd-lead">
                We'll use the Logistic Regression model that is a classification algorithm used to predict the
                probability of a categorical dependent variable, which must be binary, coded as 1 (success)
                or 0 (failure). In our example we used the variable Alignment with the values 1 for good and 0 for bad.
            </p>
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col border  border-secondary">
            <br />
            <div class="title2">2. Feature engineering</div>
            <p class="bd-lead">
                Machine learning models admit only numerical values so we have to work on re-engineering the data by
                converting categorical values, scaling numeric values and choose those that provide value to the model.
            </p>
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col border  border-secondary">
            <br />
            <div class="subtitle">Initial dataset</div>
            <img src="/static/img1.png" />
            <p class="bd-lead">
                In the fisrt view, we can identify many aspects to take into account.
            </p>
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col border  border-secondary">
            <br />
            <div class="subtitle">Gender shape</div>
            <img src="/static/img3.png" />
            <p class="bd-lead">
                since in the target set there are no characters with "undefined" gender, we drop them in training set.
            </p>
            <div class="subtitle">Gender reshape</div>
            <img src="/static/img4.png" />
            <br />
        </div>
    </div>
    
    <div class="row">
        <div class="col border  border-secondary">
            <br />
            <div class="subtitle">Alignment shape</div>
            <img src="/static/img5.png" />
            <p class="bd-lead">
                Logistic regression models work with binary variables, so in order to use this model we drop the 5
                observations that are of the neutral type.
            </p>
            <div class="subtitle">Alignment reshape</div>
            <img src="/static/img6.png" />
            <br />
        </div>
    </div>
    
    <div class="row">
        <div class="col border  border-secondary">
            <br />
            <div class="subtitle">Balance train set</div>
            <p class="bd-lead">
                As we can see the training set is unbalanced in the dependent variable so we proceed to balance it using oversapling method.
            </p>
            <img src="/static/img7.png" />
            <br />
        </div>
    </div>
    
    <div class="row">
        <div class="col border  border-secondary">
            <br />
            <div class="subtitle">Replace dependent values to numeric</div>
            <p class="bd-lead">
                We replace values good and bad for 1 and 0 respectively.
            </p>
            <img src="/static/img8.png" />
            <br />
        </div>
    </div>
    
    <div class="row">
        <div class="col border  border-secondary">
            <br />
            <div class="subtitle">Selecting variables for the model</div>
            <p class="bd-lead">
                Not all variables in the dataset are needed for the model so we select the ones that we will load into
                the model.
            </p>
            <img src="/static/img9.png" />
            <br />
        </div>
    </div>
    
    <div class="row">
        <div class="col border  border-secondary">
            <br />
            <div class="subtitle">We scale numeric variables</div>
            <p class="bd-lead">
                We invoke the function that scales numerical variables and scale the training set.
            </p>
            <img src="/static/img11.png" />
            <br />
        </div>
    </div>
    
    <div class="row">
        <div class="col border  border-secondary">
            <br />
            <div class="subtitle">We convert object variables to dummies</div>
            <p class="bd-lead">
                We invoke the function that convert to dummy object variables and send the training set.
            </p>
            <img src="/static/img12.png" />
            <br />
        </div>
    </div>
    
    <div class="row">
        <div class="col border  border-secondary">
            <br />
            <div class="subtitle">We generate the values of "X" and "y"</div>
            <p class="bd-lead">
                "y" is the dependent variable and "X" is the independent variables than look as in the following view.
            </p>
            <img src="/static/img13.png" />
            <br />
        </div>
    </div>
    
    <div class="row">
        <div class="col border  border-secondary">
            <br />
            <div class="title2">3. Model Training</div>
            <img src="/static/entrenamiento.jpg" />
            <br /><br />
        </div>
    </div>
    
    <div class="row">
        <div class="col border  border-secondary">
            <br />
            <div class="title2">4. Model Evaluation</div>
            <p class="bd-lead">
                The F1 classification report indicates that the accuracy of the model is 60% of positive predictions for
                bad and 58% for good.
            </p>
            <img src="/static/img14.png" />
            <br />
        </div>
    </div>
    
    <div class="row">
        <div class="col border  border-secondary">
            <br />
            <div class="title2">5. Model Predictions</div>
            <p class="bd-lead">
                In order to make the predictions of the target dataset, we need to perform the same transformations we did to the training dataset
            </p>
            <br />
        </div>
    </div>
    
    <div class="row">
        <div class="col border  border-secondary">
            <br />
            <div class="subtitle">Target dataset transformation</div>
            <img src="/static/img15.png" />
            <br />
        </div>
    </div>
    
    <div class="row">
        <div class="col border  border-secondary">
            <br />
            <div class="subtitle">We make predictions</div>
            <img src="/static/predicciones.jpg" alt="predictions" width="300" height="300" />
            <br />
        </div>
    </div>
    
    <div class="row">
        <div class="col border  border-secondary">
            <br />
            <img src="/static/img16.png" />
            <br />
        </div>
    </div>
    
    <div class="row">
        <div class="col border  border-secondary">
            <br />
            <div class="title2">6. Model Validation</div>
            <p class="bd-lead">
                as we can see in the graph 86 positive preditions for good alignment out of 117 while for bad alignment
                it made 37 fail identifications.
            </p>
            <img src="/static/img17.png" />
            <br />
        </div>
    </div>
    
</div>

{% endblock %}